
<h2>Контакт </h2>

<p>За било какви прашања и сугестии ... </p>
<address>
    <strong>E-mail : </strong>   <a href="mailto:preddaumram@gmail.com">preddaumram@gmail.com</a><br />
</address>

<p class="small-print">Авторот не гарантира дека воопшто ќе добиете одговор, но верувајте, email адресата е валидна. </p>