@model BeforeID.Common.ViewModels.PageViewModels.PostPageViewModel

<div id="post-page">

    <input type="hidden" id="hidden-category-id" value="@Model.CategoryId" />

    <div id="post-form" data-bind="with:Form">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-2" id="category-text" for="post-text">@Model.CategoryText</label>
                        <div class="col-xs-9">
                            <input id="post-text" placeholder="Сакам да...." class="form-control" type="text" data-bind="value:PostText" />
                        </div>

                        <div class="col-xs-1">
                            <button class="btn btn-primary" data-bind="click:PublishPost">
                                <i class="glyphicon glyphicon-plus"></i>
                                Објави
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="posts-overview" data-bind="with:PostsOverview">

        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group" data-bind="foreach:Posts,visible:Posts().length > 0 ">
                    <li class="list-group-item" data-bind=" attr:{'data-post-id':Id}">
                        <span class="badge" data-bind="text:Date"></span>
                        <span data-bind="text:Text"></span>
                    </li>
                </ul>
                <button class="btn btn-default col-xs-12" data-bind="click:LoadMorePosts">
                    Уште...
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(function () {
            var viewModel = BID.ViewModels.Pages.Posts.Main;

            ko.applyBindings(viewModel, document.getElementById('post-page'));

            viewModel.Init();
        });

    </script>
}